{%extends 'main.html'%}
{% load static%}
{% block title %}
            Chino:about
{% endblock %}

{% block content %}
<style>
    .pageBody{
        margin-top: 100px;
    }
    @media(max-width: 992px) {
        .about{
            margin-top: 0px !important;
        }
    }
</style>
<div class="pageBody">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'images/about.jpg'%}" alt="" class="img-fluid about" style="margin-top: 50px;">
            </div>
            <div class="col-md-6">
                <p>
                    <h3 style="text-align: center;">ご挨拶</h3>
                    <h5 class="about" style="text-align: justify;">
                        Chino株式会社は、企業理念として徹底した顧客目線をかかげております。<br> 
                        これは過去に利益優先の考えをしていた結果、倒産寸前まで落ち込んだ苦い経験を糧に、企業はお客様のためにあるものというしごく当たり前の事に立ち返って、改めて理念として掲げました。<br>
                        その結果、紆余曲折はありましたがお客様からの共感も数多くいただきまして今に至っております。<br>
                        これに甘えること無く、今後も変わらず徹底した顧客目線でお客様の求めるもの・お困りごとに徹底してお応えしていける企業であるよう社員一丸となって取り組んで参ります。<br>
                    </h5>
                    <h5 class="about" style="text-align: right;">
                        Chino株式会社<br>
                        代表取締役社長 GURUNG BIKASH
                    </h5>
                    
                   </p>
            </div>
        </div>
        <div class="row">
            <h2 style="text-align: center; color: #5161ce;"><b>SERVICES</b></h2><br><br>
            <div class="col-md-4 col-sm-6 col-6" id="image">
                <img class="info-img img-fluid  mx-auto d-block" src="{% static 'images/e2.png' %}">
                <h5 class="about" style="text-align: center;">IT コンサルティング事業</h5>
                <p style="text-align: justify;">
                    IT consultants help individuals or businesses make
                    technology purchases or strategy decisions
                    An IT consultant may serve as a short-term virtual CIO,
                    providing expert advice on IT strategy to a
                    company that lacks high-level IT expertise in house.
                </p>
            </div>
            <div class="col-md-4 col-sm-6 col-6">
                <img class="info-img img-fluid mx-auto d-block" src="{% static 'images/e3.png' %}">
                <h5 class="about" style="text-align: center;">翻訳 </h5>
                <p style="text-align: justify;">
                    All translators working on the Gengo platform are carefully
                    chosen and rigorously tested to ensure our customers get the
                    best translation quality. All translator candidates are required
                    to go through a multi-phased testing process which includes a
                    multiple choice test and a written translation test that is created
                    and individually reviewed by our expert team of professional Language Specialists.
                </p>
            </div>
            <div class="col-md-4 col-sm-6 col-6">
                <img class="info-img img-fluid mx-auto d-block" src="{% static 'images/e4.png' %}">
                <h5 class="about" style="text-align: center;">支持</h5>
                <p style="text-align: justify;">
                    After-sales support, sometimes called after-sales service, is any service
                    provided after a customer has purchased a product. After-sales support may
                    be provided by a retailer, manufacturer, or a third-party customer service or
                    training provider. Typically, examples of after-sales service include support
                    regarding warranty service, training, or repair and upgrades. After-sales support
                    may also be considered to be part of a company's overall marketing strategy.
                    Some customers might seek out a company’s products based on its after-sales service,
                    for example, Best Buy Co.’s Geek Squad or Apple Inc.'s Apple Care.
                </p>
            </div>
            <div class="col-md-4 col-sm-6 col-6">
                <img class="info-img img-fluid mx-auto d-block" src="{% static 'images/e1.png' %}">
                <h5 class="about" style="text-align: center;">店舗管理</h5>
                <p style="text-align: justify;">
                    Retail management is the practice of operating and supervising all activities within
                    a store. This includes working closely with staff, creating shift schedules, communicating
                    with suppliers, and dealing with customer complaints.Store managers have the responsibility
                    of tracking and monitoring inventory levels to prevent stocking too much or too little products
                    . By maintaining the optimal amount of inventory, retailers will be able to meet customers'
                    demands while minimizing unnecessary expenses.
                </p>
            </div>
            <div class="col-md-4 col-sm-6 col-6 ">
                <img class="info-img img-fluid mx-auto d-block" src="{% static 'images/e5.png' %}">
                <h5 class="about" style="text-align: center;">外食事業 </h5>
                <p style="text-align: justify;">
                    Restaurant Business is the leading media brand in the commercial foodservice industry,
                    with a focus on entrepreneurship, innovation and growth.Restaurant Business understands
                    the new state of media like no other, recognizing the importance and nuances of each, and
                    helping you retrieve the information you need, wherever, whenever. Each product of Restaurant
                    Business concisely shows growth-minded restaurateurs how to capitalize on trends, new concepts,
                    changes in consumer tastes, new purchasing strategies and peers’ best practices.Our editors track
                    ideas and trends as they develop within key channel segments including high-volume independents, multiunit
                    operators, emerging chains and the top 100 chains, plus their top franchisees.
                </p>
            </div>
            <div class="col-md-4 col-sm-6 col-6">
                <img class="info-img img-fluid mx-auto d-block" src="{% static 'images/e6.png' %}">
                <h5 class="about" style="text-align: center;">人事 </h5>
                <p style="text-align: justify;">
                    The presence of an HR department is an essential component of any business, regardless of the
                    organization's size. An HR department is tasked with maximizing employee productivity and
                    protecting the company from any issues that may arise within the workforce. HR responsibilities
                    include compensation and benefits, recruitment, firing, and keeping up to date with any laws that
                    may affect the company and its employees.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}