{%extends 'main.html'%}
{% block title %}
            Chino:about
{% endblock %}

{% block content %}
<style>
    .pageBody{
        margin-top: 100px;
        padding: 10px;
    }
</style>
<div class="pageBody">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tbody>
                        <tr>
                            <th style="width: 150px;">社名</th>
                            <td>株式会社CHINO<br><span class="-small">CHINO CO.,LTD.</span></td>
                        </tr>
                        <tr>
                            <th>事業内容</th>
                            <td>
                                <ol >
                                    <li>
                                        外国語の翻訳及び通訳業
                                    </li>
                                    <li>
                                        外国人向けの生活サポート業  
                                    </li>
                                    <li>
                                        外国人就労者者向けの人材育成、職業通性、能力開発の為の教育及びカウンセリング業務
                                    </li>
                                    <li>
                                        食料品、化粧品。衣料品、アクセサリー、日用品雑貨、食器等の販売及び輪出入
                                    </li>
                                    <li>
                                        ハラルフード及び香辛料等の阪売店の経営
                                    </li>
                                    <li>
                                        インターネットによるショッピングサイトの開設、運営及び通信販売
                                    </li>
                                    <li>
                                        インターネットのホームページの企画、制作、管理及び運営
                                    </li>
                                    <li>
                                        IT（情報技術）に関するコンサルティング業務
                                    </li>
                                    <li>
                                        総合輪出入質易業務
                                    </li>
                                    <li>
                                        1有料職業紹介事業
                                    </li>
                                    <li>
                                        飲食店業
                                    </li>
                                    <li>
                                        レストラン、カフェ、バー等の飲食店の企画、経営及びそれらのコンサルティング業務
                                    </li>
                                    <li>
                                        フランチャイズチェーンシステムによる店舗の経営、加盟店募集及び加盟店の指導業務
                                    </li>
                                    <li>
                                        前各号に陥帯する一切の業務
                                    </li>
                                </ol>
                            </td>
                        </tr>
                        <tr>
                            <th>本社</th>
                            <td>
                                <p>〒359-0044 埼玉県所沢市松葉町13番17ー203号グランドコード松葉</p>
                               
                            </td>
                        </tr>
                        <tr>
                            <th>設立</th>
                            <td>2021年08月18日</td>
                        </tr>
                        <tr>
                            <th>代表者</th>
                            <td>代表取締役 社長執行役員 CEO GURUNG BIKASH</td>
                        </tr>
                        <tr>
                            <th>資本金</th>
                            <td>500万円</td>
                        </tr>
                        <tr>
                            <th>従業員数</th>
                            <td>2名</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   
</div>
                
{% endblock %}